<!-- Load Font Roboto -- > @font-face {
  font-family: "Roboto";
  src: url("fonts/roboto/Roboto-Regular.eot");
  src: url("fonts/roboto/Roboto-Regular.eot") format("embedded-opentype"),
    url("fonts/roboto/Roboto-Regular.woff2") format("woff2"),
    url("fonts/roboto/Roboto-Regular.woff") format("woff"),
    url("fonts/roboto/Roboto-Regular.ttf") format("truetype");
}
<!-- Load Font Noto Sans Thai -- > @font-face {
  font-family: "noto-sans-thai";
  src: url("fonts/notosansthai/notosansthai-Regular.eot");
  src: url("fonts/notosansthai/notosansthai-Regular.eot")
      format("embedded-opentype"),
    url("fonts/notosansthai/notosansthai-Regular.woff2") format("woff2"),
    url("fonts/notosansthai/notosansthai-Regular.woff") format("woff"),
    url("fonts/notosansthai/notosansthai-Regular.ttf") format("truetype");
}
