<!-- Load Font Roboto -- > @font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto/roboto-bold-webfont.eot");
  src: url("../fonts/roboto/roboto-bold-webfont.eot")
      format("embedded-opentype"),
    url("../fonts/roboto/roboto-bold-webfont.woff2") format("woff2"),
    url("../fonts/roboto/roboto-bold-webfont.woff") format("woff"),
    url("../fonts/roboto/roboto-bold-webfont.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto/roboto-regular-webfont.eot");
  src: url("../fonts/roboto/roboto-Regular.eot") format("embedded-opentype"),
    url("../fonts/roboto/roboto-Regular.woff2") format("woff2"),
    url("../fonts/roboto/roboto-Regular.woff") format("woff"),
    url("../fonts/roboto/roboto-Regular.ttf") format("truetype");
}

<!-- Load Font Noto Sans Thai -- > @font-face {
  font-family: "noto-sans-thai";
  src: url("fonts/notosansthai/notosansthai-Regular.eot");
  src: url("fonts/notosansthai/notosansthai-Regular.eot")
      format("embedded-opentype"),
    url("fonts/notosansthai/notosansthai-Regular.woff2") format("woff2"),
    url("fonts/notosansthai/notosansthai-Regular.woff") format("woff"),
    url("fonts/notosansthai/notosansthai-Regular.ttf") format("truetype");
}
