@import url("../fonts/NotoSansThaiLooped/NotoSansThaiLooped.css"); /* Using a url */
@import url("../fonts/Roboto_Condensed/stylesheet.css"); /* Using a url */

@font-face {
  font-family: "roboto_con";
}

@font-face {
  font-family: "Noto Sans Thai Looped";
  unicode-range: U+0E00-U+0E7F;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "roboto_con", "Noto Sans Thai Looped";
}
